:root {
  --bg-color: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
  --card-bg-color: #fff;
  --text-color-primary: #333;
  --text-color-secondary: #6e6a6a;
  --primary-color: rgb(29, 163, 187);
  --secondary-color: #d4d4d4;
  --search-color: rgb(235, 249, 252);
  --hover-color: rgb(26, 141, 161);
  --active-color: rgb(14, 121, 139);
  --error-message-bg: rgb(240, 164, 181);
  --error-message-text: rgb(167, 14, 47);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-image: var(--bg-color);
  color: var(--text-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--card-bg-color);
  height: auto;
  width: 360px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

#search {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--search-color);
}

#search:focus {
  border-color: var(--primary-color);
}

.search-section i {
  height: 100%;
  padding: 12px 18px;
  color: white;
  font-size: 16px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.search-section i:hover {
  background-color: var(--hover-color);
}

.search-section i:active {
  background-color: var(--active-color);
}

.error-message {
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
  margin-bottom: 16px;
  background-color: var(--error-message-bg);
  color: var(--error-message-text);
  border-radius: 5px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  margin-bottom: 8px;
}

.location i {
  color: var(--primary-color);
  margin-right: 8px;
  margin-left: -20px;
}

.weather-icon-container {
  margin: 16px 0 8px;
  width: 150px;
  height: 150px;
  position: relative;
}

.weather-icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.description {
  margin-bottom: 16px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid var(--secondary-color);
}

.details-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.details i {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 8px;
}

.details-desc,
.date {
  color: var(--text-color-secondary);
  font-size: 12px;
}
